* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.625rem;
  /* convert rem from default 16px to base 10 e.g. 1rem = 10px*/
}

html, body, div, img,
footer, header, menu, nav, section, ::after, ::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "AvenirRegular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirBold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
:root {
  font-family: "AvenirRegular", Arial, Helvetica, sans-serif;
  color: #323232;
  font-size: 0.625rem;
  /* convert rem from default 16px to base 10 e.g. 1rem = 10px*/
}

h1,
.font-page-header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
}
@media only screen and (min-width: 768px) {
  h1,
.font-page-header {
    font-size: 6rem;
    line-height: 6.8rem;
    font-family: "AvenirDemi";
  }
}

h2,
section .font-section-header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  h2,
section .font-section-header {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  h2,
section .font-section-header {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}

h3,
.font-sub-header {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "AvenirRegular";
  margin: 1.6rem 0;
}
@media only screen and (min-width: 768px) {
  h3,
.font-sub-header {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "AvenirRegular";
    margin: 2.4rem 0;
  }
}

p,
.font-body-copy {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
}
@media only screen and (min-width: 768px) {
  p,
.font-body-copy {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}

.hero__container,
.about__container,
.gallery__container,
.footer__container {
  margin: 0 auto;
  padding: 0 1.6rem;
}

.nav__container,
.hero__container,
.about__container,
.gallery__container,
.footer__container {
  max-width: 102rem;
}
@media only screen and (min-width: 768px) {
  .nav__container,
.hero__container,
.about__container,
.gallery__container,
.footer__container {
    padding: 0 3.6rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  .nav__container,
.hero__container,
.about__container,
.gallery__container,
.footer__container {
    padding: 0 6.3rem;
  }
}

.screen-size {
  position: fixed;
  background-color: yellow;
  height: 100vh;
  max-width: 10rem;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1000ms ease-in-out;
  transform: translateX(-100%);
}
.screen-size--show {
  transition: transform 1000ms ease-in-out;
  transform: translateX(0%);
}
.screen-size__message {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "AvenirRegular";
  margin: 1.6rem 0;
  color: #323232;
  width: max-content;
  transform: rotate(-90deg);
  overflow: visible;
}
@media only screen and (min-width: 768px) {
  .screen-size__message {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "AvenirRegular";
    margin: 2.4rem 0;
  }
}

.nav {
  box-sizing: border-box;
  background-color: #323232;
  min-height: 7.2rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.nav__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.nav__logo {
  padding: 1.6rem 0;
  text-align: center;
  margin: auto 0;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav__list-item {
  width: 50vw;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .nav__list-item {
    width: 100%;
    padding-left: 4.8rem;
    height: 100%;
    margin: auto 0;
  }
}
.nav__link {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #AFAFAF;
  width: 100%;
  padding-bottom: 1rem;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .nav__link {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
.nav__link--highlight {
  color: #FFF;
  font-family: "AvenirDemi";
}
.nav__link--highlight::after {
  content: "";
  width: 100%;
  position: absolute;
  top: calc(100% - 0.4rem);
  border-bottom: 0.4rem solid #FFF;
  z-index: 3;
}
.nav__link:not(.nav__link--highlight):hover {
  color: #FFF;
}
.nav__link:not(.nav__link--highlight):hover::after {
  content: "";
  width: 100%;
  position: absolute;
  top: calc(100% - 0.4rem);
  border-bottom: 0.4rem solid #FFF;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .nav__link {
    height: 100%;
    padding: 0 0;
  }
}

.footer {
  background-color: #323232;
}
.footer__social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .footer__social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.footer__social-heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  .footer__social-heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__social-heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
.footer__icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
@media only screen and (min-width: 768px) {
  .footer__icons-wrapper {
    padding-left: 3.2rem;
  }
}
.footer__icon {
  min-height: 2.8rem;
  width: auto;
}
.footer__logo-top {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer__logo-top {
    display: block;
  }
}
.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .footer__contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5.6rem;
  }
}
.footer__contact-name {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #FFF;
  font-family: "AvenirBold";
}
@media only screen and (min-width: 768px) {
  .footer__contact-name {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "AvenirRegular";
  }
}
.footer__contact-address, .footer__contact-email {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  .footer__contact-address, .footer__contact-email {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "AvenirRegular";
  }
}
.footer__logo-bottom {
  margin-top: 6.4rem;
}
@media only screen and (min-width: 768px) {
  .footer__logo-bottom {
    display: none;
  }
}
.footer__copyright {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #FFF;
  padding: 1.6rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    padding: 2.4rem 0;
  }
}

.hero {
  position: relative;
  max-width: 128rem;
  margin: 0 auto;
}
.hero__background {
  width: 100%;
}
.hero__overlay {
  width: 100%;
  height: calc(100% - 0.4rem);
  position: absolute;
  top: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
}
.hero__heading {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;
  color: #FFF;
  z-index: 2;
}

.about__heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .about__heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
@media only screen and (min-width: 768px) {
  .about__wrapper {
    margin: 0 6.3rem;
  }
}
.about__image {
  width: 100%;
}
.about__quote {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "AvenirRegular";
  margin: 1.6rem 0;
}
@media only screen and (min-width: 768px) {
  .about__quote {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "AvenirRegular";
    margin: 2.4rem 0;
  }
}
.about__author {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  font-family: "AvenirBold";
}
@media only screen and (min-width: 768px) {
  .about__author {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .about__author {
    font-family: "AvenirBold";
  }
}
.about__bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .about__bio-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
.about__bio-description {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
}
@media only screen and (min-width: 768px) {
  .about__bio-description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .gallery__heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .gallery__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.4rem;
    margin-bottom: 3.6rem;
  }
}
.gallery__image {
  width: 100%;
  filter: grayscale(100%);
  filter: gray;
}
.gallery__image:hover {
  filter: none;
}