* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.625rem;
  /* convert rem from default 16px to base 10 e.g. 1rem = 10px*/
}

html, body, div, img,
footer, header, menu, nav, section, ::after, ::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "AvenirRegular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirBold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
:root {
  font-family: "AvenirRegular", Arial, Helvetica, sans-serif;
  color: #323232;
  font-size: 0.625rem;
  /* convert rem from default 16px to base 10 e.g. 1rem = 10px*/
}

h1,
.font-page-header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
}
@media only screen and (min-width: 768px) {
  h1,
.font-page-header {
    font-size: 6rem;
    line-height: 6.8rem;
    font-family: "AvenirDemi";
  }
}

h2,
section .font-section-header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  h2,
section .font-section-header {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  h2,
section .font-section-header {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}

h3,
.font-sub-header {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "AvenirRegular";
  margin: 1.6rem 0;
}
@media only screen and (min-width: 768px) {
  h3,
.font-sub-header {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "AvenirRegular";
    margin: 2.4rem 0;
  }
}

p,
.font-body-copy {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
}
@media only screen and (min-width: 768px) {
  p,
.font-body-copy {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}

.nav__container,
.hero__container,
.about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container {
  max-width: 102rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
@media only screen and (min-width: 768px) {
  .nav__container,
.hero__container,
.about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container {
    padding: 0 2.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__container,
.hero__container,
.about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container {
    padding: 0 3.6rem;
  }
}

.about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container {
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container {
    padding-bottom: 2.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container {
    padding-bottom: 3.6rem;
  }
}

.screen-size {
  position: fixed;
  background-color: yellow;
  height: 100vh;
  max-width: 10rem;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1000ms ease-in-out;
  transform: translateX(-100%);
}
.screen-size--show {
  transition: transform 1000ms ease-in-out;
  transform: translateX(0%);
}
.screen-size__message {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "AvenirRegular";
  margin: 1.6rem 0;
  color: #323232;
  width: max-content;
  transform: rotate(-90deg);
  overflow: visible;
}
@media only screen and (min-width: 768px) {
  .screen-size__message {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "AvenirRegular";
    margin: 2.4rem 0;
  }
}

.nav {
  box-sizing: border-box;
  background-color: #323232;
  min-height: 7.2rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.nav__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.nav__logo {
  padding: 1.6rem 0;
  text-align: center;
  margin: auto 0;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav__list-item {
  width: 50vw;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .nav__list-item {
    width: 100%;
    padding-left: 4.8rem;
    height: 100%;
    margin: auto 0;
  }
}
.nav__link {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e1e1e1;
  width: 100%;
  padding-bottom: 1rem;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .nav__link {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
.nav__link--highlight {
  color: #fff;
  font-family: "AvenirDemi";
}
.nav__link--highlight::after {
  content: "";
  width: 100%;
  position: absolute;
  top: calc(100% - 0.4rem);
  border-bottom: 0.4rem solid #fff;
  z-index: 3;
}
.nav__link:not(.nav__link--highlight):hover {
  color: #fff;
}
.nav__link:not(.nav__link--highlight):hover::after {
  content: "";
  width: 100%;
  position: absolute;
  top: calc(100% - 0.4rem);
  border-bottom: 0.4rem solid #fff;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .nav__link {
    height: 100%;
    padding: 0 0;
  }
}

.footer {
  background-color: #323232;
}
.footer__social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .footer__social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.footer__social-heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer__social-heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__social-heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
.footer__icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
@media only screen and (min-width: 768px) {
  .footer__icons-wrapper {
    padding-left: 3.2rem;
  }
}
.footer__icon {
  min-height: 2.8rem;
  width: auto;
}
.footer__logo-top {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer__logo-top {
    display: block;
  }
}
.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .footer__contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5.6rem;
  }
}
.footer__contact-name {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #fff;
  font-family: "AvenirBold";
}
@media only screen and (min-width: 768px) {
  .footer__contact-name {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "AvenirRegular";
  }
}
.footer__contact-address, .footer__contact-email {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer__contact-address, .footer__contact-email {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "AvenirRegular";
  }
}
.footer__logo-bottom {
  margin-top: 6.4rem;
}
@media only screen and (min-width: 768px) {
  .footer__logo-bottom {
    display: none;
  }
}
.footer__copyright {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #fff;
  padding: 1.6rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    padding: 2.4rem 0;
  }
}

.button {
  height: 4rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  background: #323232;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
}
@media only screen and (min-width: 768px) {
  .button {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .button {
    min-width: 15rem;
    max-width: 15rem;
    padding: 0, 3.2rem;
  }
}
.button:hover {
  cursor: pointer;
  color: #323232;
  background-color: #fff;
  border: 2px solid #afafaf;
}

.hero__shows-background {
  background: linear-gradient(to top, #32323272, #32323272), url("../../../assets/images/hero-shows.jpg");
}

.hero__bio-background {
  background: linear-gradient(to top, #32323272, #32323272), url("../../../assets/images/hero-bio.jpg");
}

.hero {
  max-width: 128rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 46rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    height: 64rem;
  }
}
.hero__container {
  width: 100%;
  max-width: 102rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 108rem;
  max-height: 64rem;
}
.hero__shows-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.6rem;
}
@media only screen and (min-width: 1280px) {
  .hero__shows-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}
.hero__content-wrapper {
  color: #fff;
  z-index: 5;
}
.hero__heading {
  color: #fff;
}
.hero__sub-heading {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "AvenirRegular";
  margin: 1.6rem 0;
}
@media only screen and (min-width: 768px) {
  .hero__sub-heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "AvenirRegular";
    margin: 2.4rem 0;
  }
}

.hero__soundcloud {
  padding-top: 1.6rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .hero__soundcloud {
    width: 40rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__soundcloud {
    padding-left: 4rem;
  }
}

.about__heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .about__heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
@media only screen and (min-width: 768px) {
  .about__wrapper {
    margin: 0 6.3rem;
  }
}
.about__image {
  width: 100%;
}
.about__quote {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "AvenirRegular";
  margin: 1.6rem 0;
}
@media only screen and (min-width: 768px) {
  .about__quote {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "AvenirRegular";
    margin: 2.4rem 0;
  }
}
.about__author {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  font-family: "AvenirBold";
}
@media only screen and (min-width: 768px) {
  .about__author {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .about__author {
    font-family: "AvenirBold";
  }
}
.about__bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .about__bio-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
.about__bio-description {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
}
@media only screen and (min-width: 768px) {
  .about__bio-description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}

.gallery {
  background-color: #fafafa;
}
.gallery__heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .gallery__heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .gallery__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.4rem;
  }
}
.gallery__image {
  width: 100%;
  filter: grayscale(100%);
  filter: gray;
}
.gallery__image:hover {
  filter: none;
}

.comments__heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .comments__heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .comments__heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
.comments__wrapper {
  max-width: 58rem;
  margin: auto;
}
@media only screen and (min-width: 1280px) {
  .comments__wrapper {
    max-width: 58rem;
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.form__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form__label {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #afafaf;
  padding-bottom: 0.4rem;
}
@media only screen and (min-width: 768px) {
  .form__label {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
.form__input {
  height: 3.6rem;
  width: 100%;
  border: 1px solid #afafaf;
  border-radius: 4px;
  background-color: #fafafa;
  color: #323232;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  padding: 1.2rem;
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .form__input {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .form__input {
    padding: 1.6rem;
    height: 4.8rem;
  }
}
.form__input::placeholder {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #323232;
}
@media only screen and (min-width: 768px) {
  .form__input::placeholder {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "AvenirRegular";
  }
}
.form__input:focus {
  border: 1px solid #323232;
  box-shadow: 0 0 0.5rem #afafaf;
}
.form__input--error {
  border: 1px solid #d22d2d;
  box-shadow: 0 0 0.5rem #d22d2d;
}
.form__error {
  position: relative;
  top: -1.2rem;
  color: #d22d2d;
  font-weight: bold;
  visibility: hidden;
}
.form__error--show {
  visibility: visible;
}
.form__comment {
  min-height: 10rem;
}
@media only screen and (min-width: 768px) {
  .form__button {
    align-self: flex-end;
  }
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.6rem 0;
  border-bottom: 1px solid #afafaf;
}
.comment__icon {
  aspect-ratio: 1/1;
}
.comment__wrapper {
  width: 100%;
}
.comment__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comment__user-name {
  font-family: "AvenirBold";
}
.comment__time-stamp {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #afafaf;
}
@media only screen and (min-width: 768px) {
  .comment__time-stamp {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
.comment__body {
  width: fit-content;
}
.comment__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comment__likes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.comment__likes-count {
  font-size: 1.5rem;
  color: #afafaf;
  padding-left: 0.3rem;
}
.comment__like-button {
  font-size: 1.5rem;
}
.comment__like-button:hover {
  color: #d22d2d;
}
.comment__delete-button {
  font-size: 1.5rem;
  color: #d22d2d;
  color: #afafaf;
}
.comment__delete-button:hover {
  color: #d22d2d;
}

.avatar {
  background-color: #e1e1e1;
  border: none;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  object-position: left;
  margin-right: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .avatar {
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 2.4rem;
  }
}

@media only screen and (min-width: 1280px) {
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.shows__heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "AvenirDemi";
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .shows__heading {
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .shows__heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-family: "AvenirDemi";
  }
}
@media only screen and (min-width: 1280px) {
  .shows__wrapper {
    padding-top: 5rem;
    width: 70rem;
  }
}
.shows__th-wrapper {
  display: none;
}
@media only screen and (min-width: 768px) {
  .shows__th-wrapper {
    display: flex;
    width: 100%;
    padding: 1.6rem;
  }
}
.shows__th-cell {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #afafaf;
}
@media only screen and (min-width: 768px) {
  .shows__th-cell {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .shows__th-cell {
    min-width: 25%;
  }
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #afafaf;
  width: 100%;
  padding: 1.6rem 0;
}
.show:hover {
  background-color: #fafafa;
}
.show--active {
  background-color: #e1e1e1;
}
@media only screen and (min-width: 768px) {
  .show {
    padding: 1.6rem;
    flex-direction: row;
  }
}
.show__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.8rem 0;
}
@media only screen and (min-width: 768px) {
  .show__wrapper {
    width: 25%;
  }
}
.show__label {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #afafaf;
  padding: 0.4rem 0;
}
@media only screen and (min-width: 768px) {
  .show__label {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}
@media only screen and (min-width: 768px) {
  .show__label {
    display: none;
  }
}
.show .date__info {
  font-family: "AvenirBold";
}
.show__info {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "AvenirRegular";
  color: #323232;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .show__info {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "AvenirRegular";
  }
}