@use "../utils/" as *;

.nav__container,
.hero__container,
.about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container{
	max-width: 102rem;
	margin: 0 auto;
	padding: 0 1.6rem;
	@include media-tablet {
    padding: 0 2.4rem;
	}
	@include media-desktop {
    padding: 0 3.6rem;
	}
}
.about__container,
.comments__container,
.shows__container,
.gallery__container,
.footer__container,{
padding-bottom: 1.6rem;
	@include media-tablet {
padding-bottom: 2.4rem;	}
	@include media-desktop {
padding-bottom: 3.6rem;	}
}

.screen-size {
	position: fixed;
	background-color: $clr-accent;
	height: 100vh;
	max-width: 10rem;
	top: 0;
	left: 0;
	z-index: 20;
	@include flex(center, center, column);
	transition: transform 1000ms ease-in-out;
	transform: translateX(-100%);

	&--show {
		transition: transform 1000ms ease-in-out;
		transform: translateX(0%);
	}

	&__message {
		@include font-sub-header;
		color: $clr-primary-dark;
		width: max-content;
		transform: rotate(-90deg);
		overflow: visible;
	}
}
