@use "../utils/" as *;

.nav {
	box-sizing: border-box;
	background-color: $clr-primary-dark;
	min-height: 7.2rem;
	width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  
	@include media-tablet {
    @include flex(flex-start, stretch);
	}

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;

		@include media-tablet {
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	&__logo {
		padding: 1.6rem 0;
		text-align: center;
		margin: auto 0;
	}

	&__list {
    @include flex(flex-start);
	}

	&__list-item {
		width: 50vw;
		margin: auto;
		@include media-tablet {
			width: 100%;
			padding-left: 4.8rem;
			height: 100%;
			margin: auto 0;
		}
	}

	&__link {
		@include font-body-copy;
		@include flex;
    color: $clr-secondary-medium;
		width: 100%;
		padding-bottom: 1rem;
		position: relative;
    
		&--highlight {
      color: $clr-primary-light;
			font-family: "AvenirDemi";

			&::after {
				content: "";
				width: 100%;
				position: absolute;
				top: calc(100% - 0.4rem);
				border-bottom: 0.4rem solid
					$clr-primary-light;
				z-index: 3;
			}
		}

		&:not(.nav__link--highlight):hover {
			color: $clr-primary-light;
			&::after {
				content: "";
				width: 100%;
				position: absolute;
				top: calc(100% - 0.4rem);
				border-bottom: 0.4rem solid
					$clr-primary-light;
				z-index: 3;
			}
		}

		@include media-tablet {
			height: 100%;
			padding: 0 0;
		}
	}
}
