@use "../utils/index" as *;

// BIO page specific styles
.hero__shows-background {
	background: linear-gradient(to top, #32323272, #32323272),
		url("../../../assets/images/hero-shows.jpg");
}

.hero__bio-background {
	background: linear-gradient(to top, #32323272, #32323272),
		url("../../../assets/images/hero-bio.jpg");
}

.hero {
	max-width: 128rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	min-height: 18rem;
	@include flex(center, center, row);
	@include media-tablet {
		height: 46rem;
	}
	@include media-desktop {
		height: 64rem;
	}

	&__container {
		width: 100%;
		max-width: 102rem;
		@include flex(flex-start, center, row);
		max-width: 108rem;
		max-height: 64rem;
	}
	&__shows-container {
		@include flex(center, flex-start, column);
		padding: 1.6rem;
    @include media-desktop{
      @include flex(center, flex-end,row)
    }
	}

	&__content-wrapper {
		color: $clr-primary-light;
		z-index: 5;
	}

	&__heading {
		color: $clr-primary-light;
	}
	&__sub-heading {
		color: $clr-primary-light;
		@include font-sub-header;
	}

}

.hero__soundcloud {
  padding-top: 1.6rem;
	width: 100%;
	@include media-tablet {
    width: 40rem;
	}
	@include media-desktop {
		padding-left: 4rem;
	}
}

.about {
	&__heading {
		@include font-section-header;
	}
	&__wrapper {
		@include media-tablet {
			margin: 0 6.3rem;
		}
	}
	&__image {
		width: 100%;
	}
	&__quote {
		@include font-sub-header;
	}
	&__author {
		@include font-body-copy;
		font-family: "AvenirBold";
		@include media-tablet {
			font-family: "AvenirBold";
		}
	}
	&__bio-wrapper {
		@include flex(center, center, column);
		gap: 1.6rem;
		padding-bottom: 1.6rem;
		@include media-tablet {
			@include flex;
			gap: 2.4rem;
			padding-bottom: 2.4rem;
		}
	}

	&__bio-description {
		@include font-body-copy;
	}
}

.gallery {
	background-color: $clr-secondary-light;

	&__heading {
		@include font-section-header;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.6rem;
		// margin-bottom: 1.6rem;
		@include media-tablet {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2.4rem;
			// margin-bottom: 3.6rem;
		}
	}

	&__image {
		width: 100%;
		filter: grayscale(100%);
		filter: gray;

		&:hover {
			filter: none;
		}
	}
}

.comments {
	&__heading {
		@include font-section-header;
	}

	&__container {
	}

	&__wrapper {
		max-width: 58rem;
		margin: auto;
		@include media-desktop {
			max-width: 58rem;
		}
	}
}

.form {
	// @include flex(center, center, column);
	@include flex(space-between, flex-start, row);

	&__wrapper {
		width: 100%;
		@include flex(center, flex-start, column);
	}
	&__label {
		@include font-body-copy;
		color: $clr-primary-medium;
		padding-bottom: 0.4rem;
	}
	&__input {
		height: 3.6rem;
		width: 100%;
		border: 1px solid $clr-primary-medium;
		border-radius: 4px;
		background-color: $clr-secondary-light;
		color: $clr-primary-dark;
		@include font-body-copy;
		padding: 1.2rem;
		margin-bottom: 1.6rem;
		@include media-tablet {
			padding: 1.6rem;
			height: 4.8rem;
		}
		&::placeholder {
			@include font-footer-copy;
			color: $clr-primary-dark;
		}
		&:focus {
			border: 1px solid $clr-primary-dark;
			// background: red;
			box-shadow: 0 0 0.5rem $clr-primary-medium;
		}
		&--error {
			border: 1px solid $clr-danger;
			box-shadow: 0 0 0.5rem $clr-danger;
			// color: red;
		}
	}

	&__error {
		position: relative;
		top: -1.2rem;
		color: $clr-danger;
		font-weight: bold;
		visibility: hidden;
		&--show {
			visibility: visible;
		}
	}
	&__comment {
		min-height: 10rem;
	}

	&__button {
		@include media-tablet {
			align-self: flex-end;
		}
	}
}

.comment {
	@include flex;
	padding: 1.6rem 0;
	border-bottom: 1px solid $clr-primary-medium;
	&__icon {
		aspect-ratio: 1/1;
	}
	&__wrapper {
		width: 100%;
	}
	&__head {
		@include flex(space-between, center, row);
	}
	&__user-name {
		font-family: "AvenirBold";
	}
	&__time-stamp {
		@include font-body-copy;
		color: $clr-primary-medium;
	}
	&__body {
		width: fit-content;
	}
}

.avatar {
	background-color: $clr-secondary-medium;
	border: none;
	border-radius: 50%;
	width: 3.6rem;
	height: 3.6rem;
	object-fit: cover;
	object-position: left;
	margin-right: 1.6rem;

	@include media-tablet {
		width: 4.8rem;
		height: 4.8rem;
		margin-right: 2.4rem;
	}
}
