//Colors

$clr-primary-dark : #323232;
$clr-primary-medium: #AFAFAF;
$clr-primary-light: #FFF;
$clr-secondary-dark : #323232;
$clr-secondary-medium: #AFAFAF;
$clr-secondary-light: #FAFAFA;

// Breakpoints
// Mobile first design up to 768px
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
